<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="foro.css" />
  <title>Tech</title>
</head>
<body>
  <div class="containerForo">
    <div class="banner">
      <div class="bannerServidor">
        <img src="..\..\static\imgs\bannerCrunchy.webp" alt="Banner">
      </div>
      <div class="bannerContent">
        <div class="bannerPerfil">
            <img src="..\..\static\imgs\Crunchyroll_Logo.png" alt="Prof">
            
        </div>
        <h1 class="bannerTitulo">Crunchyroll ESP</h1>
      </div>
    </div>
    <div class="publicaciones">
      
    </div>
  </div>
</body>
</html> 