<body>

  <div class="contenedor-mensajes">
    <div class="mensajes-titulo">
      <span>Mensajeria</span>
    </div>

    <div class="usuario-chat-container">
      <div class="container-usuarios">
        <div class="barra-busqueda">
          <button class="btn-funcionalidad" title="Nueva funcionalidad">
            <i class="bi bi-envelope-plus"></i>
          </button>
          <input type="text" placeholder="Código Chat . . .">
        </div>


        <button class="mensajes">
          <div class="mensajes-imgPerfil">
            <img src="" alt="Foto de perfil" />
          </div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario">
              <span>Vecina</span>
            </div>
            <div class="mensaje-ultimaInteraccion">Como estas</div>
          </div>
        </button>
        <!-- Ejemplo de otro botón -->
        <button class="mensajes">
          <div class="mensajes-imgPerfil">
            <img src="" alt="Foto de perfil" />
          </div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario">
              <span>DaniXe</span>
            </div>
            <div class="mensaje-ultimaInteraccion">

              <!-- No más de 14 caracteres contando espacios
               y sin contar los 3puntos finales -->

              <span>No me dejes en...</span>
            </div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Juan</span></div>
            <div class="mensaje-ultimaInteraccion"><span>¿Todo bien?</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>María</span></div>
            <div class="mensaje-ultimaInteraccion"><span>Nos vemos luego</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Carlos</span></div>
            <div class="mensaje-ultimaInteraccion"><span>Genial, gracias</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Laura</span></div>
            <div class="mensaje-ultimaInteraccion"><span>¿Vienes hoy?</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Pepe</span></div>
            <div class="mensaje-ultimaInteraccion"><span>No lo sabía</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Lucía</span></div>
            <div class="mensaje-ultimaInteraccion"><span>Nos hablamos</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Juan</span></div>
            <div class="mensaje-ultimaInteraccion"><span>¿Todo bien?</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>María</span></div>
            <div class="mensaje-ultimaInteraccion"><span>Nos vemos luego</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Carlos</span></div>
            <div class="mensaje-ultimaInteraccion"><span>Genial, gracias</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Laura</span></div>
            <div class="mensaje-ultimaInteraccion"><span>¿Vienes hoy?</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Pepe</span></div>
            <div class="mensaje-ultimaInteraccion"><span>No lo sabía</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Lucía</span></div>
            <div class="mensaje-ultimaInteraccion"><span>Nos hablamos</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Juan</span></div>
            <div class="mensaje-ultimaInteraccion"><span>¿Todo bien?</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>María</span></div>
            <div class="mensaje-ultimaInteraccion"><span>Nos vemos luego</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Carlos</span></div>
            <div class="mensaje-ultimaInteraccion"><span>Genial, gracias</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Laura</span></div>
            <div class="mensaje-ultimaInteraccion"><span>¿Vienes hoy?</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Pepe</span></div>
            <div class="mensaje-ultimaInteraccion"><span>No lo sabía</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Lucía</span></div>
            <div class="mensaje-ultimaInteraccion"><span>Nos hablamos</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Juan</span></div>
            <div class="mensaje-ultimaInteraccion"><span>¿Todo bien?</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>María</span></div>
            <div class="mensaje-ultimaInteraccion"><span>Nos vemos luego</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Carlos</span></div>
            <div class="mensaje-ultimaInteraccion"><span>Genial, gracias</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Laura</span></div>
            <div class="mensaje-ultimaInteraccion"><span>¿Vienes hoy?</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Pepe</span></div>
            <div class="mensaje-ultimaInteraccion"><span>No lo sabía</span></div>
          </div>
        </button>
        <button class="mensajes">
          <div class="mensajes-imgPerfil"><img src="" alt="Foto de perfil" /></div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario"><span>Lucía</span></div>
            <div class="mensaje-ultimaInteraccion"><span>Nos hablamos</span></div>
          </div>
        </button>
      </div>

      <div class="chat">
        <div class="chat-mensajes">
          <div class="mensaje-contenedor recibido">
            <div class="mensaje-imgPerfil">
              <img src="" alt="Foto perfil" />
            </div>
            <div class="mensaje-burbuja">
              <p>Se me están cayendo los webos al suelo socorro</p>
              <span class="mensaje-fecha">12/05/2025 17:30</span>
            </div>
          </div>


          <div class="mensaje-contenedor enviado">
            <div class="mensaje-burbuja">
              <p>¿¿¿En serio bro ten mucho cuidao??</p>
              <span class="mensaje-fecha">12/05/2025 17:31</span>
            </div>
            <div class="mensaje-imgPerfil">
              <img src="" alt="Mi foto" />
            </div>
          </div>


          <div class="mensaje-contenedor recibido">
            <div class="mensaje-imgPerfil">
              <img src="" alt="Foto perfil" />
            </div>
            <div class="mensaje-burbuja">
              <p>socorro!!!!!!!!!!!!!!!!</p>
              <span class="mensaje-fecha">17:32</span>
            </div>
          </div>

          <div class="mensaje-contenedor enviado">
            <div class="mensaje-burbuja">
              <p>Pues que entonces que comience una batalla sin cuartel</p>
              <span class="mensaje-fecha">17:33</span>
            </div>
            <div class="mensaje-imgPerfil">
              <img src="" alt="Mi foto" />
            </div>
          </div>

          <div class="mensaje-contenedor recibido">
            <div class="mensaje-imgPerfil">
              <img src="" alt="Foto perfil" />
            </div>
            <div class="mensaje-burbuja">
              <p>Que los héroes de la tierra sepan que tienen que hacer</p>
              <span class="mensaje-fecha">17:34</span>
            </div>
          </div>

          <div class="mensaje-contenedor enviado">
            <div class="mensaje-burbuja">
              <p>Que las luces de mi mano me vayan a obedecer</p>
              <span class="mensaje-fecha">17:35</span>
            </div>
            <div class="mensaje-imgPerfil">
              <img src="" alt="Mi foto" />
            </div>
          </div>

          <div class="mensaje-contenedor recibido">
            <div class="mensaje-imgPerfil">
              <img src="" alt="Foto perfil" />
            </div>
            <div class="mensaje-burbuja">
              <p>Comienza la batalla ven y vénceme</p>
              <span class="mensaje-fecha">17:36</span>
            </div>
          </div>

          <div class="mensaje-contenedor enviado">
            <div class="mensaje-burbuja">
              <p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
              <span class="mensaje-fecha">17:37</span>
            </div>
            <div class="mensaje-imgPerfil">
              <img src="" alt="Mi foto" />
            </div>
          </div>

          <div class="mensaje-contenedor recibido">
            <div class="mensaje-imgPerfil">
              <img src="" alt="Foto perfil" />
            </div>
            <div class="mensaje-burbuja">
              <p>eso es verdad</p>
              <span class="mensaje-fecha">17:38</span>
            </div>
          </div>

          <div class="mensaje-contenedor enviado">
            <div class="mensaje-burbuja">
              <p>#FREEVOLO</p>
              <span class="mensaje-fecha">17:39</span>
            </div>
            <div class="mensaje-imgPerfil">
              <img src="" alt="Mi foto" />
            </div>
          </div>
        </div>
        <div class="chat-input">
          <textarea placeholder="Escribe un mensaje..."></textarea>
          <button>Enviar</button>
        </div>
        <div class="chat-fecha">
          Última actividad: 12/05/2025 - 17:43
        </div>

      </div>
    </div>
  </div>

</body>

</html>