
<body>
  <div class="containerForo">
    <div class="banner">
      <div class="bannerServidor">
        <img src="..\..\static\imgs\logoth.png" alt="Banner">
      </div>
      <div class="bannerContent">
        <div class="bannerPerfil">
            <img src="..\..\static\imgs\Crunchyroll_Logo.png" alt="Prof">
            
        </div>
        <h1 class="bannerTitulo">{{forotitulo}}</h1>
      </div> 
    </div>
    <div class="descripcion">
      <p>{{forodescripcion}}</p>
    </div>
    <div class="publicaciones">
      {% for mensaje in mensajes %}
        {% with autor=mensaje.autor, fecha=mensaje.fecha, contenido=mensaje.contenido %}
          {% include 'components/preview-post.jinja' %}
        {% endwith %}
      {% endfor %}
    </div>
  </div>
  <script>

  </script>
</body>
