<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Editar Perfil - MentorHUB</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main_mensajes.css') }}">
  <script src="/static/styles/profile.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles/main_mensajes.css">

</head>

<body>

  <div class="container">
    <div class="mensajes-titulo">
      <span>Mensajeria</span>
    </div>

    <div class="usuario-chat-container">
      <div class="container-usuarios">
        <button class="mensajes">
          <div class="mensajes-imgPerfil">
            <img src="" alt="Foto de perfil" />
          </div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario">
              <span>Vecina</span>
            </div>
            <div class="mensaje-ultimaInteraccion">Como estas</div>
          </div>
        </button>
        <!-- Ejemplo de otro botón -->
        <button class="mensajes">
          <div class="mensajes-imgPerfil">
            <img src="" alt="Foto de perfil" />
          </div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario">
              <span>DaniXe</span>
            </div>
            <div class="mensaje-ultimaInteraccion">

              <!-- No más de 14 caracteres contando espacios
               y sin contar los 3puntos finales -->

              <span>No me dejes en...</span>
            </div>
          </div>
        </button>
        
      </div>

      <div class="chat">
        S
      </div>
    </div>
  </div>

</body>

</html>