<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Registro - MentorHUB</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='styles/main.js') }}"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
</body>
    <h1>PAGINA PRINCIPAL</h1>
    <a href="{{ url_for('formularios.cargar_profile') }}" class="btn">Editar Perfil</a>

</html>