<body>

  <div class="contenedor-mensajes">
    <div class="mensajes-titulo">
      <span>Mensajeria</span>
    </div>

    <div class="usuario-chat-container">
      <div class="container-usuarios">
        <div class="barra-busqueda">
          <button class="btn-funcionalidad" title="Nueva funcionalidad">
            <i class="bi bi-envelope-plus"></i>
          </button>
          <input type="text" placeholder="Código Chat . . .">
        </div>

        <button class="mensajes" data-email="Fernando1#@gmail.com" data-room="SALA1">
          <div class="mensajes-imgPerfil">
            <img src="" alt="Foto de perfil" />
          </div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario">
              <span>SALA 1</span>
            </div>
            <div class="mensaje-ultimaInteraccion">Como estas</div>
          </div>
        </button>

        <button class="mensajes" data-email="Fernando1#@gmail.com" data-room="SALA2">
          <div class="mensajes-imgPerfil">
            <img src="" alt="Foto de perfil" />
          </div>
          <div class="mensajes-texto">
            <div class="mensaje-usuario">
              <span>SALA 2</span>
            </div>
            <div class="mensaje-ultimaInteraccion">Como estas</div>
          </div>
        </button>
      </div>

      <div class="chat">
        <div class="chat-mensajes">
        
        </div>

        <div class="chat-input">
          <textarea placeholder="Escribe un mensaje..."></textarea>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
              <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
            </svg>
          </button>
        </div>

        <div class="chat-fecha">
          Última actividad: 12/05/2025 - 17:43
        </div>
      </div>
    </div>
  </div>

</body>
</html>