<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/nocredentails.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/nocredentails.css') }}">
    <title>Credenciales Incorrectas</title>
</head>
<body>
    <div class="waveWrapper waveAnimation">
        <div class="waveWrapperInner bgTop">
            <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
        </div>
        <div class="waveWrapperInner bgMiddle">
            <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
        </div>
        <div class="waveWrapperInner bgBottom">
            <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
        </div>
    </div>
    <h1 class="Tittle">MentorHUB</h1>
    <div class="form">
        <div class="form-title"><span>Error de Autenticación</span></div>
        <div class="title-2"><span>Credenciales Incorrectas</span></div>
        <div class="error-message">
            <p>Las credenciales proporcionadas son incorrectas. Por favor, inténtalo de nuevo.</p>
        </div>
    </div>
</body>
<script src="animations.js"></script>
</html>