body {
  background-color: black;
  margin: 0;
  padding: 0;
}


.nav-bar {
  display: flex;
  flex-direction: row; 
  flex: none;
  justify-content: space-between; 
  align-items: center;
}

.profile-container {
  height: 100%;
  overflow: auto; 
}



.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(50, 50, 50, 0.8);
  padding: 20px;
  border-bottom: 1px solid #6ee793;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header2 {
  background-color: black;
  padding: 20px;
  border-bottom: 1px solid #6ee793;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.avatar-img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-right: 20px;
}

.user-info {
  flex-grow: 1;
}

.user-info h1 {
  font-size: 1.8em;
  margin: 0;
  color: white;
}

.user-info-highlight {
    color: #FF5733; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    font-size: 16px; /* Tamaño de letra */
    background-color: #F0F0F0; /* Fondo detrás del texto */
    padding: 5px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

.user-details {
  font-size: 0.95em;
  color: #6a737c;
  margin-top: 5px;
}


.profile-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: #6ee793;
  border: 1px solid #6ee793;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.95em;
}

.btnpreferencias {
  background-color: #6ee793;
  border: 1px solid #6ee793;
  border-radius: 5px;
  margin-top: 30px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.95em;
}

.btn:hover {
  background-color: #f1f2f3;
}


.layout-perfil {
  display: flex;
  gap: 40px;
  padding-left: 32px; /* igual que .masscontainer */
  padding-top: 22px;  /* igual que .masscontainer */
  padding-right: 40px;
  padding-bottom: 40px;
  align-items: flex-start;
}



.button-container {
  position: sticky;
  top: 20px;
  left: 0;
  width: 391px;
  display: flex;
  flex-direction: column;
  background-color: rgba(50, 50, 50, 0.8);
  padding: 5px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px, rgba(50, 50, 50, 0.5) 5px 10px 15px;
  gap: 10px;
  z-index: 5;
}


.opciones-botones {
  width: 391px;
  margin-top: 32px;
  display: flex;
  background-color: rgba(50, 50, 50, 0.8); /* Tonos oscuros para combinar con el fondo negro */
  height: 40px;
  align-items: center;
  justify-content: first baseline;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px, rgba(50, 50, 50, 0.5) 5px 10px 15px;
  gap: 20px; /* Añade espacio entre los botones */
}

.button-container button {
  outline: 0 !important;
  border: 0 !important;
  width: auto; 
  padding: 0 10px; 
  height: 40px;
  border-radius: 20px; 
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  gap: 5px; 
}

.button-container button svg {
  flex-shrink: 0; 
  width: 16px;
  height: 16px;
}

.button-container button:hover {
  transform: translateY(-3px);
}

.container2 {
  position: fixed;
  top: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}



.preferencias-container {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 350px;
  margin: 20px 0;
}

.preferencias-container h2 {
  color: #6ee793;
  border-bottom: 2px solid #6ee793;
  padding-bottom: 8px;
  font-size: 1.8rem;
}

.preferencias-container p {
  font-size: 1.1rem;
  color: #d1d1d1;
}

.preferencias-container h3 {
  display: block; 
  margin-bottom: 5px;
}

ul {
  list-style: none; 
  padding: 0;
  display: flex;
  flex-wrap: wrap; 
  gap: 15px;
}

li {
  background: rgba(50, 50, 50, 0.8); 
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  text-align: center;
  min-width: 120px;
  transition: transform 0.3s ease;
}

li:hover {
  transform: scale(1.05); 
  background: #6ee793; 
  color: black;
}

.interest-tag {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.interest-tag input[type="checkbox"] {
  display: none;
}

.interest-tag span {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #e0b3ff;
  border-radius: 20px;
  background-color: rgba(224, 179, 255, 0.1);
  color: #e0b3ff;
  transition: all 0.3s ease;
}

.interest-tag input[type="checkbox"]:checked+span {
  background-color: #e0b3ff;
  color: #010714;
  box-shadow: 0 0 10px #e0b3ff;
}

.interests-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.interests-section {
  margin-top: 30px;
  text-align: center;
}

.interests-section h2 {
  font-size: 1.5rem;
  color: #e0b3ff;
  margin-bottom: 20px;
}





/* Estilo general para el contenedor de opciones */
.contenedor-opcion {
  margin: 20px 0 0; 
  padding: 20px;
  width: 350px; 
  background-color: rgba(50, 50, 50, 0.8); 
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px, rgba(50, 50, 50, 0.5) 5px 10px 15px;
  color: white;
  font-family: 'Roboto', sans-serif;
  animation: fadeIn 0.3s ease-in-out;
}

.contenedor-opcion-perfil {
  margin-top: 15px;
  position: relative;
  width: 100%;
  max-width: 1200px;
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
  padding: 30px;
  border-radius: 12px;
  background-color: black;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  animation: fadeIn 0.4s ease-in-out;
}

/* Ocultar scroll en Chrome/Safari */
.contenedor-opcion-perfil::-webkit-scrollbar {
  display: none;
}



/* Ajusta el tamaño del contenido dentro */
.contenedor-opcion-perfil h2 {
  font-size: 2rem;
  color: #6ee793; /* Verde claro */
  margin-bottom: 20px;
  border-bottom: 3px solid #6ee793;
  padding-bottom: 8px;
}

.contenedor-opcion-perfil p {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 15px;
  line-height: 1.6;
}

.contenedor-opcion-perfil {
  animation: fadeIn 0.4s ease-in-out;
}

.contenedor-actualizar-nombre {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: black;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.4);
  text-align: center;
}

.contenedor-actualizar-nombre h2 {
  font-size: 1.8rem;
  color: #6ee793;
  margin-bottom: 15px;
  border-bottom: 2px solid #6ee793;
  padding-bottom: 8px;
}

.contenedor-actualizar-nombre input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 2px solid #6ee793;
  border-radius: 8px;
  background: #303030;
  color: white;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.contenedor-actualizar-nombre .btn {
  width: 100%;
  padding: 12px;
  background-color: #6ee793;
  color: black;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contenedor-actualizar-nombre .btn:hover {
  background-color: #4CAF50;
}



.contenedor-opcion h2 {
  font-size: 1.8rem;
  color: #6ee793; 
  margin-bottom: 15px;
  border-bottom: 2px solid #6ee793;
  padding-bottom: 5px;
}


.contenedor-opcion p {
  font-size: 1rem;
  line-height: 1.5;
  color: #d1d1d1;
  margin-bottom: 15px;
}

/* Listas dentro del contenedor */
.contenedor-opcion ul {
  list-style: none;
  padding: 0;
}

.contenedor-opcion ul li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.contenedor-opcion ul li:hover {
  background-color: #6ee793;
  color: #000;
}


.contenedor-opcion button {
  display: block;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 10px;
  background-color: rgba(110, 231, 147, 0.1);
  color: #6ee793;
  border: 2px solid #6ee793;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  transition: all 0.3s ease;
}

.contenedor-opcion button:hover {
  background-color: #6ee793;
  color: #000;
  transform: scale(1.02);
}

.dropdown {
  position: relative;
  display: inline-block;
}



.dropbtn {
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(50, 50, 50, 0.9);
  min-width: 180px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 10;
  flex-direction: column; /* Mantiene los botones en lista vertical */
}

.dropdown-content .dropdown-btn {
  background-color: transparent;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-content .dropdown-btn:hover {
  background-color: #6ee793;
  color: black;
}

/* Muestra el menú desplegable cuando se pase el mouse */
.dropdown:hover .dropdown-content {
  display: flex;
}

.titulo-recomendaciones {
  color: white;
  font-size: large;
  font-weight: bold;
  align-items: center;
  padding: 10px;
  font-family: sans-serif;
}

.suscripcion-btn {
  height: 30px;
  background: rgb(118, 226, 151);
  color: black;
  font-weight: bold;
  border-radius: 10px;
  margin: 10px;
}

.suscripcion-btn:hover{
  background: rgb(80, 194, 114);
}

.recomendaciones {
  width: 80%; 
  height: auto;
  margin: 30px auto; /* Espacio superior e inferior */
  padding: 40px; 
  border: 1px solid rgb(118, 226, 151);
  border-radius: 10px;
  color: whitesmoke;
}





/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}