<div class="chat">
    <div class="chat-mensajes">
        <div class="mensaje-contenedor recibido">
            <div class="mensaje-imgPerfil">
                <img src="" alt="Foto perfil" />
            </div>
            <div class="mensaje-burbuja">
                <p>Hola que tal estás</p>
                <span class="mensaje-fecha">12/05/2025 17:30</span>
            </div>
        </div>
        <div class="mensaje-contenedor enviado">
            <div class="mensaje-burbuja">
                <p>#FREEVOLO</p>
                <span class="mensaje-fecha">17:39</span>
            </div>
            <div class="mensaje-imgPerfil">
                <img src="" alt="Mi foto" />
            </div>
        </div>
    </div>
    <div class="chat-input">
        <textarea placeholder="Escribe un mensaje..."></textarea>
        <button>Enviar</button>
    </div>
    <div class="chat-fecha">
        Última actividad: 12/05/2025 - 17:43
    </div>
</div>