<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="popupforo.css" />
  <title>Tech</title>
</head>
<body>
    <div class="createPost">
      <div class="userInfo">
        <img src="{{ url_for('static', filename='imgs/image.png') }}" alt="Foto de perfil" class="profilePic">
        <span class="username">Bando02</span>
      </div>
      <form action="/posts/publicar" method="post" enctype="multipart/form-data">
        <textarea name="contenido_post" placeholder="¿En qué estás pensando?" rows="4" required></textarea>

        <div class="postActions">
          <label for="imagen_post" class="customFileUpload">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-file-earmark-image" viewBox="0 0 16 16">
              <path d="M6.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
              <path d="M14 14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zM4 1a1 1 0 0 0-1 1v10l2.224-2.224a.5.5 0 0 1 .61-.075L8 11l2.157-3.02a.5.5 0 0 1 .76-.063L13 10V4.5h-2A1.5 1.5 0 0 1 9.5 3V1z"/>
            </svg>
            
          </label>

          <input type="file" name="imagen_post" accept="image/*" id="imagen_post" hidden>
          
          <button type="submit" class="btn">Publicar</button>
        </div>
      </form>   
    </div>
</body>
</html>
