<div class="descripcion-recomendaciones">
    <button class="posts-recomendados">
        <div class="recom-posts-usuario">
            <div class="recom-posts-usuario-usuario">
                <span>{{Usuario}}</span>
            </div>
            <div class="recom-posts-usuario-nombre">
                <span>{{Nickname}}</span>
            </div>
        </div>

        <div class="recom-posts-contenido">
            <span>{{Contenido}}
            </span>
        </div>
    </button>
</div>