<div class="comment-preview">
  <div class="cp-header">
    <span class="cp-author">@{{autor}}</span>
    <span class="cp-date">{{ fecha}}</span>
  </div>
  <div class="cp-body">
    {{ contenido | e | replace('\n', '<br>') | safe }}
  </div>

</div>
