<div class="usuario-card" id="usuarioCard">
    <div class="usuario-img">
        <img src="{{ perfil.foto_perfil }}" alt="Foto de perfil">
    </div>

    <div class="usuario-info">
        <h3 class="usuario-nombre">{{ perfil.nombre }}</h3>
        <span class="usuario-nickname">@{{ perfil.nickname }}</span>
    </div>
</div>